
/* =====================
 header
===================== */
.header {
  position: fixed;
  padding: 5px 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;
  background-color: #fff;
  box-shadow: 0 1px 1px rgb(0 0 0 / 10%);
  transition: background-color .3s, box-shadow .3s;
  z-index: 1000;
}
#icon{
  margin-right:5px;
  width: 65px;
  height: auto;
}


.header.is-transparent {
  background-color: transparent;
  box-shadow: none;
  color: #fff;
}

/* inner */
.header__inner {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  width: 1240px;
  max-width: calc(100vw - 30px);
  height: 100%;
  margin: 0 auto;
  font-size: 16px;
}

/* site title */
.header__siteTitle {
  font-size: 25px;
}


.header__navButton {
display: npone;
}


.header__siteTitle a {
  display: flex;
  align-items: center;
  height: 80px;
  color: inherit;
  text-decoration: none;
  transition: color .2s;
}

.header__siteTitle a:hover {
  color: skyblue;
}

.header__navListItem {
list-style: none;
}


/* =====================
 nav (PC)
===================== */
.header__nav {
  display: flex;
  align-items: center;
}


.header__navList {
margin-right: 50px;
  display: flex;
  height: 100%;
}

.header__navListItem:not(:last-child) {
  margin-right: 40px;
}

.header__navLink {
  position: relative;
  display: flex;
  align-items: center;
  height: 100%;
  color: inherit;
  text-decoration: none;
  transition: color .2s;
}

.header__navLink::after {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  width: 0;
  height: 5px;
  margin: auto;
  content: "";
  background-color: skyblue;
  transition: width .2s;
}

.header__navLink:hover {
  color: skyblue;
}

.header__navLink:hover::after {
  width: 100%;
}



@media (max-width: 890px) {

  .header__navList {
    text-align: right;
    display: flex; /* ←これはOK */
    flex-direction: column;
    position: fixed;
    top: 90px;
    right:1px;
    opacity: 0;
    visibility: hidden;
    color: #ffffff;
   height:250px;
   width: 180px;
   margin: 0;
  }

  .header__navList.is-open {
      transform: translateY(0);
    opacity: 1;
    visibility: visible;
    background-color: rgb(75, 114, 155);
    height: fit-content;
    margin: 0;
  height: 90%;
  }
      



.header__navButton {
  position: relative;
  width: 50px;
  height: 50px;
  background-color: #000;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  margin-right: 10px;
}

.header__navButtonLineTop,
.header__navButtonLineMiddle,
.header__navButtonLineBottom {
  position: absolute;
  inset: 0;
  margin: auto;
  width: 26px;
  height: 2px;
  background-color: #fff;
  transition: transform .3s, opacity .3s;
}

.header__navButtonLineTop {
  transform: translateY(-10px);
}

.header__navButtonLineBottom {
  transform: translateY(10px);
}
.header__navList.is-open {
   opacity: 1; visibility: visible; transform: translateY(0); } 
.header__navListItem { margin: 20px 0; text-align: center;
margin: 10px 10px; 
    font-size: 14px;

} 
 .header__navButton.is-active .header__navButtonLineTop {
   transform: rotate(45deg);
   } 
 .header__navButton.is-active .header__navButtonLineMiddle {
   opacity: 0; }
  .header__navButton.is-active .header__navButtonLineBottom {
    transform: rotate(-45deg); 
  }

  .header__siteTitle {
    font-size: 24px;
  }


}
@media (min-width: 890px) {
  .header__navList,
  .header__navList.is-active {
    position: static;
    transform: none;
    opacity: 1;
    visibility: visible;
   margin:0;
   padding-left: 0;
  }

  .header__navButton {
    display: none;
  }


/* メニューエリア */
.hamburger-demo-menuwrap{
	position: fixed;
	height: 100%;
	background: #fafafa; /* メニューエリアの背景色 */
	padding: 5em 3% 2em;
	z-index: 9998;
	transition: .3s;
	overflow-y: scroll; /* メニュー内容が多い場合に縦スクロールする */
	top: 0;
	left: 100%;
	width: 70%;
}
/* メニューリスト */
.hamburger-demo-menulist{
	margin-right: 3%;
	padding-left: 5% !important; /* !important不要な場合もあり */
	list-style: none;
}
.hamburger-demo-menulist li a{
	text-decoration: none;
	color: #333; /* メニューリストの文字色 */
	display: block;
	padding: .5em 0;
}
/* メニューエリア･アニメーション */
	/* 右から */
#hamburger-demo1:checked ~ .hamburger-demo-menuwrap{
	left: 30%;
}
	/* コンテンツカバー */
#hamburger-demo1:checked ~ .hamburger-demo-cover{
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 9997;
	background: rgba(3,3,3,.5);
	display: block;

}
}