.hero2{
  margin-top: -120px;
    width: 100%;
    height: 140vh;
    background-image:url(../images/back/price.png);
    background-size: cover;
    text-align: right;
    padding-right: 20px;
}



.price-contener{
  transform: translateY(250px);
  justify-content: center;
}
.price-contener h2{
line-height: 1.3;
  font-size: 33px;
  font-weight: 900;
}

