.hero2{
  margin-top: -120px;
    width: 100%;
    height: 140vh;
    background-image:url(../images/back/price.png);
    background-size: cover;
    text-align: right;
    padding-right: 20px;
}



.price-contener{
  transform: translateY(250px);
  justify-content: center;
}
.price-contener h2{
line-height: 1.3;
  font-size: 33px;
  font-weight: 900;
}

.price-comment{
  margin-left: 50%;
  font-size: 12px;
  padding: 10px;
    transform: translateY(150px);

}


.new-lead{
  font-size: 16px;
  margin: 30px 30px 0px 0px;
  background-color:rgb(206, 241, 219);
  padding: 20px;
}

