

@media screen and (min-width:768px) and ( max-width:1024px) {
    /*　画面サイズが768pxから1024pxまではここを読み込む　*/

      .make-cards {
     display: grid;
      }
}
@media screen and (min-width:1024px) {
    /*　画面サイズが1024pxからはここを読み込む　*/

      .make-cards {
     display: flex;
  
}

.hero::before {
  content: "";
  position: absolute;
  inset: 0;
  background-image: inherit;
  clip-path: polygon(100% 0, 100% 50%, 55% 100%, 0 100%, 0 0);

  z-index: 0;
  background-image: url('https://pa-tu.work/storage/img/posts/651682bc9fa7e.jpg');
  background-size: cover;
  background-position: center;

}


h1{
  font-size: 1.5rem;
  font-weight: 800;
}

.comment  {
  font-size: 18px;
  color: #3d3d3d;
   opacity: 0;
  animation:
   fadeIn 1s ease-out forwards,
}


.note-list {
  list-style: none;
  padding: 0;
  margin: 30px auto;
  display: flex;
  gap: 20px;
}

.note {
  padding: 20px;
  font-size: 0.95rem;
  line-height: 1.5;
  box-shadow: 0 6px 12px rgba(0,0,0,0.08);
  border-radius: 4px;
   box-shadow:
    0 6px 12px rgba(0,0,0,0.15),
    0 2px 4px rgba(0,0,0,0.08);
  border-radius: 3px;

}

.note:hover {
  animation: wiggle 0.3s ease-in-out;
  box-shadow: 0 10px 18px rgba(0,0,0,0.18);
}


.catchphrase{
  height: 380px;
  background-color: #ffffff;
  text-align: center;
}
  .container4 {
    padding: 50px 30px;
    flex-direction: row;  
    justify-content: center;
    align-items: stretch; 
    gap: 40px;
  }
 
.l-wrapper_06 {
  flex-direction: row;
  margin: 1rem auto;
  gap:20px;
}

.dolist{
display:flex;
}
 }  